.single-file img {
  width: 10em;
  height: 10em !important;
}
.no-resize {
  resize: none;
}
#prevModal #prevModaldialog {
  width: 80%;
}
#prevModal #prevModaldialog .modal-content .modal-body #prev-img {
  width: 100%;
}
