{% extends '::base.html.twig' %}

{% block content %}

    <div class="container-fluid index-page-banner" id="main-banner-index">
        <div class="col-sm-4 col-sm-offset-8 banner-text">
            <h3>Дворец</h3>
            <h3>Культуры</h3>
            <h3>Железнодорожников</h3>
        </div>
    </div>

    <div class="container container-padding-0-100px">
        fdfdf
    </div>
{% endblock %}