{% extends '::base.html.twig' %}

{% block content %}

    <div class="container-fluid index-page-banner" id="main-banner-index">
        <div class="col-sm-4 col-sm-offset-8 banner-text">
            <h3>Дворец</h3>
            <h3>Культуры</h3>
            <h3>Железнодорожников</h3>
        </div>
    </div>

    <div class="container padding-right-0 padding-left-0 padding-top-20px">
        <h4 class="text-center letter-spacing-1px">
            {{
            'Дворец культуры железнодорожников предоставляет услуги по организации и проведению мероприятий.
            А так же аренда помещений и технического оборудования' | nl2br
            }}
        </h4>
    </div>
{% endblock %}