{% extends '::base.html.twig' %}

{% block title %}{{ pageData[page] }}{% endblock %}

{% block stylesheets %}
    <style>
        .media-content {
            color: #898989;
            padding-left: 0;
            padding-right: 0;
            font-size: 18px;
            line-height: 20px;
        }
        .event-heading .event-date-time span {
            display: inline-block;
            position: relative;
            float: left;
            font-size: 14px;
            color: #767A7D;
            padding: 0;
        }
        .event-heading .event-label {
            color: #6B3E21;
            display: inline-block;
            cursor: pointer;
        }
        .event-heading .event-label a {
            color: #6B3E21;
            text-decoration: none;
            font-family: "Bebas Book";
            font-weight: bold;
            font-size: 18px;
            letter-spacing: 1px;
            line-height: 20px;
        }
    </style>
{% endblock %}

{% block content %}

    {% block main_banner_widget %}{{ parent() }}{% endblock %}

    <div class="space-fix-container"></div>

    {% block under_banner_text_widget %}
        <div class="container text-center col-xs-padding-right-0">

            <div class="container padding-0-100px" id="main-text-under-banner">
                <div class="text-center letter-spacing-1px banner-content-block col-xs-12">
                    <p>Здест Вы можете найти новости из жизни ДКЖ, отчеты о прошедших мероприятиях и узнать о том, какие еще планируются</p>

                </div>
            </div>

        </div>
    {% endblock %}

    <div class="container padding-0-100px xs-padding-0-10px">
        <div class="row padding-0-50px xs-margin-right-0 xs-padding-0-10px">

            <div class="col-md-5 col-xs-12 single-widget padding-left-0">
                <h4 class="label-underscored">Ближайшие мероприятия</h4>


                <ul class="media-list main-list">
                    <!--SINGLE EVENT START-->
                    <li class="media">
                        <div class="media-body">
                            <div class="row event-heading">
                                <div class="col-sm-10 col-xs-12 event-label">
                                    <h4>
                                        <i class="fa fa-calendar"></i> 31.05.2017 | <i class="fa fa-clock-o"></i> 19:00 |&nbsp;
                                        <a href="#">
                                            Отчётный концерт театра танца «Степ»
                                        </a>
                                    </h4>
                                </div>
                            </div>
                            <p class="media-content">
                                Зиму провожают блинами и хороводами. А весну давайте проводим в ритме степа! 31
                                мая в
                                концертном зале Дворца культуры железнодорожников состоится спектакль (и
                                отчётный концерт)
                                Театра танца «Степ», посвященный приближающемуся столетию Дворца.
                            </p>
                        </div>
                    </li>

                    <li class="media">
                        <div class="media-body">
                            <div class="row event-heading">
                                <div class="col-sm-10 col-xs-12 event-label">
                                    <h4>
                                        <i class="fa fa-calendar"></i> 31.05.2017 | <i class="fa fa-clock-o"></i> 19:00 |&nbsp;
                                        <a href="#">
                                            Отчётный концерт театра танца «Степ»
                                        </a>
                                    </h4>
                                </div>
                            </div>
                            <p class="media-content">
                                Зиму провожают блинами и хороводами. А весну давайте проводим в ритме степа! 31
                                мая в
                                концертном зале Дворца культуры железнодорожников состоится спектакль (и
                                отчётный концерт)
                                Театра танца «Степ», посвященный приближающемуся столетию Дворца.
                            </p>
                        </div>
                    </li>

                    <li class="media">
                        <div class="media-body">
                            <div class="row event-heading">
                                <div class="col-sm-10 col-xs-12 event-label">
                                    <h4>
                                        <i class="fa fa-calendar"></i> 31.05.2017 | <i class="fa fa-clock-o"></i> 19:00 |&nbsp;
                                        <a href="#">
                                            Отчётный концерт театра танца «Степ»
                                        </a>
                                    </h4>
                                </div>
                            </div>
                            <p class="media-content">
                                Зиму провожают блинами и хороводами. А весну давайте проводим в ритме степа! 31
                                мая в
                                концертном зале Дворца культуры железнодорожников состоится спектакль (и
                                отчётный концерт)
                                Театра танца «Степ», посвященный приближающемуся столетию Дворца.
                            </p>
                        </div>
                    </li>

                    <li class="media">
                        <div class="media-body">
                            <div class="row event-heading">
                                <div class="col-sm-10 col-xs-12 event-label">
                                    <h4>
                                        <i class="fa fa-calendar"></i> 31.05.2017 | <i class="fa fa-clock-o"></i> 19:00 |&nbsp;
                                        <a href="#">
                                            Отчётный концерт театра танца «Степ»
                                        </a>
                                    </h4>
                                </div>
                            </div>
                            <p class="media-content">
                                Зиму провожают блинами и хороводами. А весну давайте проводим в ритме степа! 31
                                мая в
                                концертном зале Дворца культуры железнодорожников состоится спектакль (и
                                отчётный концерт)
                                Театра танца «Степ», посвященный приближающемуся столетию Дворца.
                            </p>
                        </div>
                    </li>
                </ul>


            </div>

            <div class="col-md-5 col-md-offset-2 col-xs-12 single-widget padding-left-0">
                <h4 class="label-underscored">Новости</h4>

                <ul class="media-list main-list">
                    <!--SINGLE EVENT START-->
                    <li class="media">
                        <div class="media-body">
                            <div class="row event-heading">
                                <div class="col-sm-10 col-xs-12 event-label">
                                    <h4>
                                        <i class="fa fa-calendar"></i> 31.05.2017 | <i class="fa fa-clock-o"></i> 19:00 |&nbsp;
                                        <a href="#">
                                            Отчётный концерт театра танца «Степ»
                                        </a>
                                    </h4>
                                </div>
                            </div>
                            <p class="media-content">
                                Зиму провожают блинами и хороводами. А весну давайте проводим в ритме степа! 31
                                мая в
                                концертном зале Дворца культуры железнодорожников состоится спектакль (и
                                отчётный концерт)
                                Театра танца «Степ», посвященный приближающемуся столетию Дворца.
                            </p>
                        </div>
                    </li>

                    <li class="media">
                        <div class="media-body">
                            <div class="row event-heading">
                                <div class="col-sm-10 col-xs-12 event-label">
                                    <h4>
                                        <i class="fa fa-calendar"></i> 31.05.2017 | <i class="fa fa-clock-o"></i> 19:00 |&nbsp;
                                        <a href="#">
                                            Отчётный концерт театра танца «Степ»
                                        </a>
                                    </h4>
                                </div>
                            </div>
                            <p class="media-content">
                                Зиму провожают блинами и хороводами. А весну давайте проводим в ритме степа! 31
                                мая в
                                концертном зале Дворца культуры железнодорожников состоится спектакль (и
                                отчётный концерт)
                                Театра танца «Степ», посвященный приближающемуся столетию Дворца.
                            </p>
                        </div>
                    </li>

                    <li class="media">
                        <div class="media-body">
                            <div class="row event-heading">
                                <div class="col-sm-10 col-xs-12 event-label">
                                    <h4>
                                        <i class="fa fa-calendar"></i> 31.05.2017 | <i class="fa fa-clock-o"></i> 19:00 |&nbsp;
                                        <a href="#">
                                            Отчётный концерт театра танца «Степ»
                                        </a>
                                    </h4>
                                </div>
                            </div>
                            <p class="media-content">
                                Зиму провожают блинами и хороводами. А весну давайте проводим в ритме степа! 31
                                мая в
                                концертном зале Дворца культуры железнодорожников состоится спектакль (и
                                отчётный концерт)
                                Театра танца «Степ», посвященный приближающемуся столетию Дворца.
                            </p>
                        </div>
                    </li>

                    <li class="media">
                        <div class="media-body">
                            <div class="row event-heading">
                                <div class="col-sm-10 col-xs-12 event-label">
                                    <h4>
                                        <i class="fa fa-calendar"></i> 31.05.2017 | <i class="fa fa-clock-o"></i> 19:00 |&nbsp;
                                        <a href="#">
                                            Отчётный концерт театра танца «Степ»
                                        </a>
                                    </h4>
                                </div>
                            </div>
                            <p class="media-content">
                                Зиму провожают блинами и хороводами. А весну давайте проводим в ритме степа! 31
                                мая в
                                концертном зале Дворца культуры железнодорожников состоится спектакль (и
                                отчётный концерт)
                                Театра танца «Степ», посвященный приближающемуся столетию Дворца.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div class="row space-fix-container"></div>

{% endblock %}