.content {
  flex: 1 0 auto;
}
.content #main-banner-index {
  background: url("../img/main_banner.jpg");
  height: 350px;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content .banner-text {
  background: grey;
  opacity: .8;
  position: absolute;
  bottom: 30%;
  right: 0;
  padding: 0 0 0 10px;
}
.content .banner-text h3 {
  padding-left: 10px;
  color: white;
  opacity: 1;
  letter-spacing: 5px;
  font-family: 'Bebas Bold';
}
