.content {
  flex: 1 0 auto;
}
.content #main-banner-index {
  background: url("../img/banner_2.jpg");
  height: 350px;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content .banner-text {
  background: grey;
  opacity: .8;
  position: absolute;
  bottom: 30%;
  right: 0;
  padding: 0 0 0 10px;
}
.content .banner-text h3 {
  padding-left: 10px;
  color: white;
  opacity: 1;
  letter-spacing: 5px;
  font-family: 'Bebas Bold';
}
.content #main-text-under-banner .banner-content-block {
  font-family: 'Century Gothic Regular';
  font-size: 15px;
  color: #673506;
  line-height: 21px;
  font-weight: normal;
  font-style: normal;
}
.content #main-text-under-banner .banner-content-block .content-block-row {
  padding: 0;
  white-space: nowrap;
}
