{% extends ':default/admin:base.html.twig' %}

{% block title %}Настройки сайта | {{ parent() }}  {% endblock %}


{% block content %}
<div class="col-lg-12">
	{% for message in app.flashes('success') %}
		<div class="alert alert-success alert-dismissable">
			 	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				{{ message | raw }}
		</div>
{% endfor %}
		<div class="tabs-container">

            <div class="tabs-left">
				<ul class="nav nav-tabs">
					<li class="active">
						<a data-toggle="tab" href="#seo-settings" aria-expanded="true">
							<span class="fa fa-cog"></span> Настройки SEO
						</a>
					</li>
          <li class="">
						<a data-toggle="tab" href="#robots" aria-expanded="false">
							<span class="fa fa-wrench"></span> Robots.txt
						</a>
					</li>
					<li class="">
						<a data-toggle="tab" href="#htaccess" aria-expanded="false">
							<span class="fa fa-file"></span> .htaccess
						</a>
					</li>
					<li class="">
						<a data-toggle="tab" href="#google-analytics" aria-expanded="false">
							<span class="fa fa-google"></span> Код Google Analytics
						</a>
					</li>

					<li class="">
						<a data-toggle="tab" href="#yandex-metrika" aria-expanded="false">
						<span class="fa fa-line-chart"></span> Код Яндекс.Метрика
						</a>
					</li>
                </ul>
				<div class="tab-content ">

					<div id="seo-settings" class="tab-pane active">

						<div class="panel-body">
							{% include 'default/admin/parts/seo_form.html.twig' with{
								'categoryData': categoryData,
								'entity': entity
							} %}
						</div>
					</div>

				  <div id="robots" class="tab-pane">
					<div class="panel-body">
						{% include 'default/admin/parts/edit_file_form.html.twig' with{
							'file': 'robots'
						} %}
					</div>
				  </div>

					<div id="htaccess" class="tab-pane">
						<div class="panel-body">
							{% include 'default/admin/parts/edit_file_form.html.twig' with{
								'file': 'htaccess'
							} %}
						</div>
					</div>

					<div id="google-analytics" class="tab-pane">

						<div class="panel-body">
							{% include 'default/admin/parts/metrics_form.html.twig' with{'metricsType': 'google', 'content': google_code} %}
						</div>

					</div>

					<div id="yandex-metrika" class="tab-pane">

						<div class="panel-body">
							{% include 'default/admin/parts/metrics_form.html.twig' with{'metricsType': 'yandex', 'content': yandex_code} %}
						</div>

					</div>

                </div>
			</div>
        </div>
   </div>

</div>
{% endblock %}
