{% extends '::base.html.twig' %}

{% block title %} Календарь событий во Дворце Культуры Железнодорожников {% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/front/page/zaly.css') }}" rel="stylesheet">
    <link href="{{ asset('css/front/page/event_list.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    <script>

        $(document).ready(function () {

            var date = new Date(),
                month = date.getMonth(),
                year = date.getFullYear(),
                limit = 5,
                monthFirstDay = new Date(year, month, 1),
                monthLastDay = new Date(year, month + 1, 0),
                apiUrl = '{{ path('api.load-events-by-month') }}';

                console.log(monthFirstDay);

            $.ajax({
                url: apiUrl,
                method: 'post',
                data: {
                    'firstDay': $.datepicker.formatDate('yy-mm-dd', monthFirstDay),
                    'lastDay': $.datepicker.formatDate('yy-mm-dd', monthLastDay)
                },
                success: function (data) {
                    $('.event-list-row').append(data);
                }
            })
        });
    </script>
{% endblock %}

{% block content %}
    {% block main_banner_widget %}{{ parent() }}{% endblock %}

    <div class="space-fix-container"></div>

    {% block under_banner_text_widget %}
        <div class="container padding-0-100px" id="main-text-under-banner">
            <div class="text-center letter-spacing-1px banner-content-block">
                <p class="padding-0-100px">
                   Анонс мероприятий в Дворце Культуры Железнодорожников
                </p>
            </div>
        </div>
    {% endblock %}

    {% for event in events %}
        {% for file in event.files %}
            {% if file.isDefault == true %}
                {% set bgimg = file.name %}
            {% endif %}
        {% endfor %}
    {% endfor %}

    <div class="space-fix-container"></div>

    <div class="container padding-left-0 padding-right-0 halls-list-block event-list">
        <div class="row event-list-row">

        </div>
    </div>

{% endblock %}