@font-face {
  font-family: 'Century Gothic Regular';
  src: url(../../../fonts/CenturyGothicRegular.ttf)
}

.flex-container {

  min-height: 350px;

  .single-event-panel {
    font-family: 'Century Gothic Regular';

  .panel-heading {
    background-color: #da0000;
    color: #F0DEBA;
  }

  .event-buttons {
    .btn {
      background-color: transparent;
      color: #333333;
      border: 2px dotted #333333;
      font-weight: 600;

      &:hover {
        background-color: #F0DEBA;
      }
    }
  }
}
}