@font-face {
  font-family: 'Century Gothic Regular';
  src: url(../../../fonts/CenturyGothicRegular.ttf);
}
.flex-container {
  min-height: 350px;
}
.flex-container .single-event-panel {
  font-family: 'Century Gothic Regular';
}
.flex-container .single-event-panel .panel-heading {
  background-color: #da0000;
  color: #F0DEBA;
}
.flex-container .single-event-panel .event-buttons .btn {
  background-color: transparent;
  color: #333333;
  border: 2px dotted #333333;
  font-weight: 600;
}
.flex-container .single-event-panel .event-buttons .btn:hover {
  background-color: #F0DEBA;
}
