@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@font-face {
  font-family: 'Century Gothic Regular';
  src: url(../fonts/CenturyGothicRegular.ttf);
}
@font-face {
  font-family: 'Bebas Bold';
  src: url(../fonts/bebas_neue_bold.otf);
}
@font-face {
  font-family: 'Bebas Ligth';
  src: url(../fonts/bebas_neue_light.otf);
}
@font-face {
  font-family: 'Bebas Book';
  src: url(../fonts/BebasNeue_Book.otf);
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font: 14px/20px Arial, sans-serif;
  /* Custom classes*/
  /* End custom classes*/
}
.wrapper .read-more-link {
  color: #767A7D;
  text-decoration: underline;
  font-size: 18px;
  line-height: 26px;
}
.wrapper .fa-6x {
  font-size: 6em;
}
.wrapper .fa-7x {
  font-size: 7em;
}
.wrapper .fa-8x {
  font-size: 8em;
}
.wrapper .fa-9x {
  font-size: 9em;
}
.wrapper .fa-10x {
  font-size: 10em;
}
.wrapper .padding-0-100px {
  padding: 0 100px;
}
.wrapper .padding-left-0 {
  padding-left: 0;
}
.wrapper .padding-right-0 {
  padding-right: 0;
}
.wrapper .letter-spacing-1px {
  letter-spacing: 1px;
}
.wrapper .padding-0-50px {
  padding: 0 50px;
}
.wrapper .padding-top-20px {
  padding-top: 20px;
}
.wrapper .index-page-banner {
  padding-left: 0;
  padding-right: 0;
}
.wrapper .space-fix-container {
  margin: 30px 0;
}
.wrapper .space-fix-container-2x {
  margin: 60px 0;
}
.wrapper .header {
  margin-right: 0;
  font-family: 'Century Gothic Regular';
}
.wrapper .header .site-logo {
  padding-bottom: 0;
  padding-top: 0;
  height: 170px;
}
.wrapper .header .site-logo img {
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  width: auto;
}
.wrapper .header .mobile-nav {
  background-color: transparent;
  border: none;
  padding: 30px 20px;
}
.wrapper .header .main-header {
  padding: 20px 0 0 0;
  margin-bottom: 0;
  background-color: transparent;
  border: none;
  margin-top: 20px;
}
.wrapper .header .main-header .row {
  position: relative;
}
.wrapper .header .main-header .col-sm-10 {
  position: absolute;
  top: 20px;
  left: 250px;
}
.wrapper .header .main-header .main-menu li a {
  color: #6b3e21;
}
.wrapper .content {
  flex: 1 0 auto;
}
.wrapper .content .upcoming-events {
  font-family: 'Century Gothic Regular';
}
.wrapper .content .upcoming-events #upcoming-events-label {
  color: #673506;
  display: inline-block;
  line-height: 33px;
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  border-bottom: 2px solid #d22027;
  font-family: 'Bebas Book';
}
.wrapper .content .upcoming-events .upcoming-event .media-content {
  padding-left: 0;
  padding-right: 0;
  font-size: 18px;
  line-height: 26px;
  color: #333333;
}
.wrapper .content .upcoming-events .upcoming-event .event-heading .event-date-time span {
  display: inline-block;
  position: relative;
  float: left;
  font-size: 14px;
  color: #767A7D;
  padding: 0;
}
.wrapper .content .upcoming-events .upcoming-event .event-heading .event-label a {
  color: #673506;
  display: inline-block;
  text-decoration: none;
  font-family: "Bebas Book";
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}
.wrapper .content .widget-panel {
  font-family: 'Century Gothic Regular';
}
.wrapper .content #main-text-under-banner h4 {
  font-family: 'Century Gothic Regular';
  font-size: 15px;
  color: #673506;
  line-height: 21px;
  font-weight: normal;
  font-style: normal;
}
.wrapper .content .error-500-page .error-page {
  padding: 40px 15px;
  text-align: center;
}
.wrapper .content .error-500-page .error-actions {
  margin-top: 15px;
  margin-bottom: 15px;
}
.wrapper .content .error-500-page .error-actions .btn {
  margin-right: 10px;
}
.wrapper .content .error-500-page .label-404 {
  font-size: 100px;
}
.wrapper .content #main-banner-index {
  background: url("../img/main_banner.jpg");
  height: 350px;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper .content .banner-text {
  background: grey;
  opacity: .8;
  position: absolute;
  bottom: 30%;
  right: 0;
  padding: 0 0 0 10px;
}
.wrapper .content .banner-text h3 {
  padding-left: 10px;
  color: white;
  opacity: 1;
  letter-spacing: 5px;
  font-family: 'Bebas Bold';
}
.wrapper .content .review-block {
  background-color: #898989;
}
.wrapper .content .review-block #reviews-block-label {
  font-family: 'Bebas Book';
  font-size: 30px;
  color: #673506;
  border-bottom: 2px solid #d22027;
  display: inline-block;
}
.wrapper .content .review-block .container {
  margin-top: 25px;
  margin-bottom: 25px;
}
.wrapper .content .review-block .single-review .single-review-label a {
  color: #fff;
  text-decoration: underline;
  font-family: 'Century Gothic Regular';
  font-size: 18px;
  line-height: 26px;
}
.wrapper .content .review-block .single-review .review-text,
.wrapper .content .review-block .single-review .review-add-time {
  color: #fff;
  font-family: 'Century Gothic Regular';
  font-size: 18px;
  line-height: 26px;
}
.wrapper .content .review-block .single-review .review-text span,
.wrapper .content .review-block .single-review .review-add-time span {
  display: flex;
}
.wrapper .content .counter-widgets-block {
  border: 1px solid #dbdbdb;
  border-left: none;
  overflow: hidden;
}
.wrapper .content .counter-widgets-block .counter-widget {
  border-left: 1px solid #dbdbdb;
  float: left;
  width: 25%;
  text-align: center;
  font-family: "Titillium Web", sans-serif;
  padding: 25px 0 35px;
}
.wrapper .content .counter-widgets-block .counter-widget .counter-widget-show {
  font-size: 48px;
  color: #673506;
  display: block;
}
.wrapper .content .counter-widgets-block .counter-widget .counter-widget-label {
  font-size: 18px;
  color: #cc1719;
}
.wrapper .footer {
  flex: 0 0 auto;
  height: 80px;
  background: #3498DB;
}
.wrapper h1 {
  padding: 40px 20px 30px;
  font: 26px/1.3 Arial, sans-serif;
  text-align: center;
}
.wrapper p {
  padding: 10px 20px;
}
.wrapper a {
  color: #3498DB;
}
